.menuImageWrapper {
  display: inline-block;
  height: 100%;
}

.navbarLink {
  color: inherit;

  &:hover {
    color: inherit !important;
  }
}

.navbarLabel {
  color: inherit;
  // display: inline-block;
  // padding: 0 10px;
}
