// @import "../../style/var.scss";

.header {
  height: 90px;
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  padding: 0;
  transition: 0.3s ease;
}

.headerContent {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  line-height: 1;
}
.logoWrapper {
  width: 90px;
  height: 90px;
  display: inline-flex;
  background-color: #002060;
  transition: 0.3s ease;
  img {
    width: 51%;
    margin: auto;
  }
}

.titleWrapper {
  display: inline-flex;
  justify-content: start;
  align-items: center;
}

.title {
  height: 100%;
  padding-left: 30px;
  font-size: 22px;
  h1 {
    color: inherit;
    font-size: 1em;
  }
}

.userWrapper {
  text-align: right;
}

.porConent {
  text-align: center;
  a,
  button {
    color: #000;
    padding: 10px 0;

    &:active {
      color: #000;
    }
    &:focus {
      color: #000;
    }
  }
}

// @media screen and (max-width: $xs-width) {
@media screen and (max-width: 375px) {
  .header {
    height: 60px;
    line-height: 60px;

    .logoWrapper {
      width: 60px;
      height: 60px;
    }
  }

  .title {
    font-size: 16px;
    padding-left: 16px;
  }
} ;
