@import "../../style/var.scss";

.page {
  max-width: $max-width;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and(max-width: $sm-width) {
  .page {
    padding: 0 10px;
  }
}

// 进入前
.fade-enter {
  opacity: 0;
  transform: translateX(-70%);
}

// 离开前
.fade-exit {
  opacity: 1;
  transform: translateX(-50%);
}

// 进入后
.fade-enter-active {
  opacity: 1;
  transform: translateX(-50%);
}

// 离开后
.fade-exit-active {
  opacity: 0;
  transform: translateX(-30%);
}

.fade-enter-active {
  transition: opacity 300ms ease, transform 300ms ease;
  // transition-delay: 100ms;
}
.fade-exit-active {
  transition: opacity 300ms ease, transform 300ms ease;
}

/* 向上动画 */

// 进入前
.top-enter,
.top-exit-active {
  opacity: 0;
  transform: translate(-50%, 10%);
}

// 进入后和离开前
.top-exit,
.top-enter-active {
  opacity: 1;
  transform: translate(-50%, 0);
}

.top-enter-active,
.top-exit-active {
  transition: opacity 300ms ease, transform 300ms ease;
}
