@import "../../style/var.scss";

.formWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

// 标题
.formTitle {
  color: #666;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
}

// 左侧测单
.formMenu {
  img {
    width: auto;
    max-width: 60px;
    height: auto;
    max-height: 100%;
  }

  .formMenuSub {
    width: 100%;
    max-width: 200px;
    border: 1px solid #e0e0ed;
    font-size: 16px;

    :global {
      .ant-menu-submenu-title {
        height: auto;
        min-height: 40px;
        display: flex;
        align-items: center;
        margin: 0;
        padding-left: 0;

        span {
          padding: 0 10px;
        }
      }
    }
  }

  .formMenuItem {
    font-size: 16px;
    padding: 0 10px;
  }
}

.fromWrapper {
  width: 100%;
  max-width: 1000px;
}
