.navbarLink {
  color: inherit !important;
  padding-left: 10px;
  &:hover {
    color: inherit !important;
  }
}

.navbarLabel {
  color: inherit !important;
  // display: inline-block;
  // padding: 0 10px;
}
