.menuItem {
  color: #666;
  background-color: transparent !important;

  .navbarLink {
    color: inherit;
    padding: 0 10px;
  }

  .navbarLabel {
    color: inherit;
    // display: inline-block;
    // padding: 0 10px;
  }
}
