@import "../../style/var.scss";

.main {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: $xl-width) {
  .main {
    padding: 0 10px;
  }
}
