@import "../../style/var.scss";

.btnGroupWrapper {
  width: 100%;
}
.formResetBtn {
  color: $primary-color;
  border: 1px solid $primary-color;
}

.hintImageClassName {
  margin-left: 10px;
  font-size: 16px;
}
